<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/urls">
        Snippy Url
      </a>
      <% if ( !user ) { %>
        <% include _signup_links %>
      <% } else { %>
        <a class="btn btn-default navbar-btn" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1>Tiny App</h1> 
    <% if ( user ) { %>
      <h4> Hello, <%= user.email %>
    <% } %>
    <p>Tiny App is the most popular URL link shortener in the entire LHL community.</p> 
  </div>
</div>