<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header center">
     <a href="/urls">
      <img src="https://github.com/gitmihalis/snippy-url-shortener-app/blob/master/docs/hand_scissors.png?raw=true" alt="hand scrissors">
    </a>
      <% if ( !user ) { %>
        <% include _signup_links %>
      <% } else { %>
        <a class="btn btn-default navbar-btn" href="/logout" style="margin-left: 10px">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Snippy Url</h1> 
    <% if ( user ) { %>
      <h4> Hello, <%= user.email %>
    <% } %>
    <p>Snippy is the most popular URL link shortener in the entire LHL community right now. <type</p>
  </div>
</div>