<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include partials/_head %>
  <title>Login</title>
</head>
<body>
  <div class="container">
    <form action="/login" method="POST">
      <h3>Login to TINY APP</h3>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  
</body>
</html>