<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include partials/_head %>
  <title>Snippy | You can't do that yet. Sign up or Log in first!</title>
</head>
<body>
  <div class="container">
    <div class="alert alert-info" role="alert">
      You're signed out. Thanks for using Snippy!
    </div>
    <div class="container">
      <% include partials/_signup_links %>
    </div>
  </div>
</body>
</html>