<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
  <title>TinyApp</title>
</head>
<body class="container">
  <% include partials/_header %>
  <h2> List of URLs </h2>
  <ul class="list-group">
  <% for (key in urls) { %>
    <li class="list-group-item">
      <span><%= urls[key] %>  -->  <b><%= key %></b></span>
      <form method="POST" action="/urls/<%= key %>/delete"> 
        <button onclick=submit"" class="btn btn-sm  btn-danger">Delete</button>
      </form>
    </li>
  <% } %>
  </ul>
</body>
</html>